.conteiner {
    height: 100vh;
    background: url("../img/background.png") no-repeat black;
    background-size: cover;
    font-family: Verdana, sans-serif;
}

.navbar {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    display: inline-block;
    float: left;
    margin-top: 20px;
    margin-left: 90px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.logo:hover {
    color: #3da76f;
    transition: 0.5s;
}

.navbar-welcome-text {
    float: right;
    margin-top: 23px;
    margin-right: 90px;
    font-size: 14px;
    color: white;
}

.navbar-icons {
    float: right;
    height: 20px;
    margin-top: 20px;
    margin-right: 30px;
    background: url('../img/css_sprites.png');
}

.bg-caledar {
    width: 20px;
    background-position: -10px -10px;
}

.bg-journey {
    width: 20px;
    background-position: -88px -10px;
}

.bg-forum {
    width: 28px;
    background-position: -168px -10px;
}

.bg-caledar:hover {
    width: 20px;
    background-position: -49px -10px;
}

.bg-forum:hover {
    width: 28px;
    background-position: -216px -10px;
}

.bg-journey:hover {
    width: 20px;
    background-position: -128px -10px;
}

.main-content {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-330px);
    width: 324px;
    height: 540px;
    padding: 30px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0,0,0,0.7);
}

.main-content::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 30px;
    left: 0px;
    background-color: #3cb878;
}

.main-content-title-text {
    float: left;
    font-size: 20px;
    color: #434343;
}

.main-content-title-link {
    float: right;
    font-size: 14px;
    margin-top: 6px;
}

.social {
    margin-top: 15px;
}

.social-btn {
    width: 157px;
    height: 30px;
    padding: 8px 0;
    border-radius: 3px;
    text-decoration: none;
}

.social-btn-logo {
    display: inline-block;
    width: 47px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 20px;
}

.social-btn-text {
    display: inline-block;
    width: 105px;
    padding: 6px 0;
    font-size: 16px;
    color: white;
    text-align: center;
}

.facebook-btn {
    float: left;
    background-color: #305db8;
}

.facebook-btn:hover {
    background-color: #264b96;
    transition: 0.5s;
}

.facebook-border {
    border-left: 1px solid #2b54a5;
}

.facebook-btn:hover .facebook-border {
    border-left: 1px solid #224387;
    transition: 0.5s;
}

.google-btn {
    float: right;
    background-color: #df4a32;
}

.google-btn:hover {
    background-color: #c3412c;
    transition: 0.5s;
}

.google-border {
    border-left: 1px solid #c8422d;
}

.google-btn:hover .google-border {
    border-left: 1px solid #af3a28;
    transition: 0.5s;
}

.separator {
    display: block;
    margin-top: 25px;
    margin-bottom: 6px;
    text-align: center;
    color: #848484;
}

.separator::before {
    content: "";
    display: inline-block;
    width: 135px;
    height: 1px;
    position: relative;
    bottom: 4px;
    margin-right: 18px;
    background-color: #eaeaea;
}

.separator::after {
    content: "";
    display: inline-block;
    width: 135px;
    height: 1px;
    position: relative;
    bottom: 4px;
    margin-left: 18px;
    background-color: #eaeaea;
}

.form-inputs {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

.form-inputs::placeholder {
    color: #bebebe;
}

.form-inputs:focus {
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0 5px 8px rgba(0,0,0,0.3);
    transition: 0.5s;
}

.form-checkbox-label {
    display: inline-block;
    margin-top: 15px;
    color: #434343;
}

.form-checkbox {
    display: none;
}

.form-checkbox-custom {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

.form-checkbox:checked + .form-checkbox-custom::before {
    content: "";
    display: block;
    width: 5px;
    height: 9px;
    position: absolute;
    top: 2px;
    left: 6px;
    border-right: 3px solid #3cb878;
    border-bottom: 3px solid #3cb878;
    transform: rotate(45deg);
}

.form-btn {
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 3px;
    background-color: #3cb878;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: white;
}

.form-btn:hover {
    background-color: #329a65;
    transition: 0.5s;
}

.green-text {
    color: #3cb878;
    text-decoration: none;
}

.green-text:hover {
    text-decoration: underline;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}