body {
    font-family: Arial, sans-serif;
}

.conteiner {
    width: 1280px;
    margin: 0 auto;
    padding: 60px 0 30px;
}

.main-logo {
    color: #000;
    font-size: 80px;
    text-decoration: none;
}

.main-logo-blue {
    color: #4bcaff;
}

.navbar-menu {
    margin: 50px 0;
    text-align: center;
    background-color: #35444f;
}

.navbar-menu-item {
    display: inline-block;
}

.navbar-menu-link {
    display: inline-block;
    padding: 25px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
}

.navbar-menu-active,
.navbar-menu-link:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.sidebar-menu {
    display: inline-block;
    width: 350px;
    padding: 1px;
    border: 1px solid #35444f;
    vertical-align: top;
}

.sidebar-menu-item {
    list-style-type: none;
}

.sidebar-menu-link {
    display: block;
    padding: 30px 40px;
    font-size: 30px;
    color: #485863;
    text-decoration: none;
}

.sidebar-menu-active,
.sidebar-menu-link:hover {
    padding-left: 70px;
    background-color: #dbdbdb;
    color: #000;
}

.main-content {
    display: inline-block;
    margin-left: 50px;
    width: 870px;
}

.main-content-image-box {
    display: inline-block;
    width: 100%;
    height: 530px;
    border: 1px solid #35444f;
    background: url(../img/top-img@1X.png) no-repeat center;
    background-size: 350px;
    transition: background-size 1s;
}

.main-content-image-box:hover {
    background-size: 400px;
}

.main-content-text {
    margin: 30px;
    font-size: 18px;
    line-height: 1.5;
}

.footer {
    margin: 20px 0;
    background-color: #b4b7ba;
    padding: 0 30px;

}

.footer-menu {
    display: inline-block;
    width: 79%;
}

.footer-menu-items {
    display: inline-block;
}

.footer-menu-link {
    display: inline-block;
    padding: 20px 10px;
    font-size: 28px;
    text-decoration: none;
    color: #000;
}

.footer-menu-active,
.footer-menu-link:hover {
    color: #3181a6;
    text-decoration: underline;
}

.copyright {
    display: inline-block;
    width: 20%;
    text-align: right;
    font-size: 24px;
}