body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.menu{
    margin: 30px 0;
    text-align: center;
}

.menu-item{
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 4px;
    margin: 30px;
    color: #16a085;
}

.head-image{
    display: block;
    width: 100%;
}

.main-content{
    padding: 60px 110px 100px 110px;
    text-align: center;
    background-color: #f5f6f7;
    color: #373737;
}

.main-content-title{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
    margin: 0 0 30px 0;
}

.main-content-text{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 2;
}

.main-content-button{
    margin-top: 40px;
    padding: 20px 40px;
    background-color: #16a085;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 5px;
}

.footer{
    float: right;
    margin: 40px 100px;
    color: #373737;
}
