@font-face {
    font-family: Arimo;
    font-weight: 400;
    src: url("../fonts/Arimo-Regular.svg") format('svg'),
    url("../fonts/Arimo-Regular.eot") format('embedded-opentype'),
    url("../fonts/Arimo-Regular.ttf") format('truetype'),
    url("../fonts/Arimo-Regular.woff") format('woff'),
    url("../fonts/Arimo-Regular.woff2") format('woff2');
}

@font-face {
    font-family: Arimo;
    font-weight: 700;
    src: url("../fonts/Arimo-Bold.svg") format('svg'),
    url("../fonts/Arimo-Bold.eot") format('embedded-opentype'),
    url("../fonts/Arimo-Bold.ttf") format('truetype'),
    url("../fonts/Arimo-Bold.woff") format('woff'),
    url("../fonts/Arimo-Bold.woff2") format('woff2');
}

.container {
    background-color: #3a4965;
    height: 100vh;
    min-height: 610px;
    min-width: 1150px;
}

.price{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0 auto;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    text-transform: uppercase;
    text-align: center;
}

.head-row {
    height: 110px;
    background-color: #fafafa;
    font-size: 20px;
    font-weight: 700;
}

.head-row-title {
    font-size: 20px;
}

.first-col {
    width: 200px;
    vertical-align: middle;
    box-shadow: inset 0 -5px 5px -5px #bbb;
    font-size: 14px;
    font-weight: 700;
}

.first-col-icons  {
    display: block;
    margin-bottom: 10px;
    color: #848484;
    font-size: 24px;
}

.simple-row {
    height: 167px;
}

.simple-col {
    width: 157px;
    background-color: #f2f2f2;
    vertical-align: middle;
    box-shadow: inset 0 -5px 5px -5px #bbb;
}

.simple-col:nth-child(2n) {
    background-color: #e3e3e3;
}

.green-bg {
    background-color: #89c331;
    font-size: 24px;
    color: white;
}

.pink-bg {
    background-color: #f04a56;
    font-size: 30px;
    color: white;
}

.teal-bg {
    background-color: #20807c;
    font-size: 24px;
    color: white;
}

.dollars {
    display: block;
    margin-top: 18px;
    position: relative;
    font-size: 36px;
}

.dollars::after {
    content: "Per Month";
    font-size: 14px;
    margin-left: 30px;
    vertical-align: middle;
}

.cents {
    vertical-align: top;
    position: absolute;
    top: 2px;
    font-size: 18px;
}

.cents::before {
    content: ".";
    vertical-align: top;
}

.first-col-btn {
    display: block;
    width: 145px;
    height: 40px;
    margin: 18px auto 0 auto;
    box-sizing: border-box;
    padding-top: 12px;
    border-radius: 5px;
    background-color: #414141;
    border-bottom: 5px solid #343434;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.first-col-btn:hover {
    background-color: #444;
    box-shadow: 0 0 5px 0 #fff;
    border: none;
}

.simple-value {
    display: block;
    margin-bottom: 10px;
}