@font-face {
    font-family: Arimo;
    font-weight: 400;
    src: url("../fonts/Arimo-Regular.svg") format('svg'),
         url("../fonts/Arimo-Regular.eot") format('embedded-opentype'),
         url("../fonts/Arimo-Regular.ttf") format('truetype'),
         url("../fonts/Arimo-Regular.woff") format('woff'),
         url("../fonts/Arimo-Regular.woff2") format('woff2');
}

@font-face {
    font-family: Arimo;
    font-weight: 700;
    src: url("../fonts/Arimo-Bold.svg") format('svg'),
         url("../fonts/Arimo-Bold.eot") format('embedded-opentype'),
         url("../fonts/Arimo-Bold.ttf") format('truetype'),
         url("../fonts/Arimo-Bold.woff") format('woff'),
         url("../fonts/Arimo-Bold.woff2") format('woff2');
}

.container {
    background-color: #3a4965;
    height: 100vh;
    min-height: 720px;
    min-width: 1150px;
}

.price{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0 auto;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    text-transform: uppercase;
    text-align: center;
}

td{
    vertical-align: middle;
    box-shadow: inset -5px 0px 5px -5px #bbb;
}

.price-head {
    background-color: #fafafa;
    font-size: 18px;
    font-weight: 700;
}

.head-title {
    font-size: 30px;
    width: 310px;
}

.head-top {
    width: 280px;
    height: 70px;
    color: white;
}

.green-bg {
    background-color: #89c331;
    font-size: 24px;
}

.pink-bg {
    background-color: #f04a56;
    font-size: 30px;
}

.teal-bg {
    background-color: #20807c;
    font-size: 24px;
}

.head-bottom {
    height: 85px;
}

.dollars {
    position: relative;
    font-size: 60px;
}

.dollars::before {
    content: "$";
}

.dollars::after {
    content: "Per Month";
    font-size: 18px;
    font-weight: 400;
}

.cents {
    vertical-align: top;
    position: absolute;
    top: 10px;
    font-size: 24px;
}

.cents::before {
    content: ".";
    vertical-align: top;
}

.price-body {
    height: 70px;
    background-color: #f2f2f2;
}

.price-body:nth-child(2n) {
    background-color: #e3e3e3;
}

.price-body-icons {
    font-size: 24px;
    color: #848484;
    margin-right: 12px;
}

.price-foot {
    height: 110px;
    background-color: #f2f2f2;
}

.price-foot-contact-us {
    background-color: #dddddd;
}

.price-foot-btn {
    display: block;
    width: 190px;
    height: 50px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 18px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.grey-btn {
    background-color: #484848;
    border-bottom: 8px solid #404040;
}

.grey-btn:hover {
    background-color: #404040;
    box-shadow: 0 0px 5px #555;
    transition: 0.5s;
}

.green-btn {
    background-color: #89c331;
    border-bottom: 8px solid #79b027;
}

.green-btn:hover {
    background-color: #79b027;
    box-shadow: 0 0px 5px #555;
    transition: 0.5s;
}

.pink-btn {
    background-color: #f04a56;
    border-bottom: 8px solid #df3a46;
}

.pink-btn:hover {
    background-color: #df3a46;
    box-shadow: 0 0px 5px #555;
    transition: 0.5s;
}

.teal-btn {
    background-color: #20807c;
    border-bottom: 8px solid #16736f;
}

.teal-btn:hover {
    background-color: #16736f;
    box-shadow: 0 0px 5px #555;
    transition: 0.5s;
}