
.page {
    height: 100vh;
    background-color: #000;
    color: #ffd52d;
    font-family: sans-serif;
    position: relative;
    perspective: 15vw;
    overflow: hidden;
}

.container {
    position: absolute;
    bottom: 0;
    padding: 0 25vw;
    transform: rotateX(35deg) translateY(30vw);
    animation: textMove 30s linear infinite;
}

.title {
    font-size: 2.5vw;
    margin: 2.5vw;
    text-align: center;
}

.text {
    font-size: 2.5vw;
    margin: 2.5vw;
}

@keyframes textMove {
    to {
        transform: rotateX(35deg) translateY(-40vw);
    }
}

