body {
    background-color: #000;    
}

.background-img {
    background: url("../img/background.png") no-repeat #000;
    background-size: cover;
}

.dark-filter {
    background-color: rgba(0, 0, 0, 0.73);
}

.conteiner {
    box-sizing: border-box;
    width: 1065px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 30px;
    font-family: Verdana, sans-serif;
}

.header {
    margin-bottom: 45px;
}

.logo {
    float: left;
    background: url("../img/logo.png") no-repeat;
    background-size: contain;
    color: #fff;
    padding-left: 65px;
    font-size: 29px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

.logo:hover {
    background-image: url("../img/logo-orange.png");
    color: #f26522;
    transition: 0.5s;
}

.logo-text-second-line {
    display: block;
    font-size: 18px;
    line-height: 16px;
    margin-top: 5px;
}

.contacts {
    float: right;
}

.contacts-text {
    display: block;
    text-align: right;
    font-size: 18px;
    color: #fff;
    line-height: 23px;
    text-decoration: none;
}

.contacts-text-tel {
    float: right;
}

.main-content {
    margin-bottom: 40px;
}

.item {
    float: left;
    margin-bottom: 35px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.item:nth-child(3n+2) {
    margin-right: 65px;
    margin-left: 65px;
}

.item:nth-child(n+4) {
    margin-bottom: 0;
}

.item-content {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), #ccc);
    padding: 2px;
}

.item-img {
    display: block;
}

.item-orange-area {
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;
    height: 60px;
    background-color: #f26522;
    padding: 28px 20px 0 20px;
    box-sizing: border-box;
    transition: bottom 0.5s;
}

.item-orange-area-prise {
    float: left;
    font-size: 20px;
    position: relative;
}

.item-orange-area-prise:before {
    content: "€";
}

.item-orange-area-prise:after {
    content: "from";
    font-size: 10px;
    position: absolute;
    top: -12px;
    left: 0;
}

.item-orange-area-text {
    float: right;
    font-size: 14px;
}

.item-orange-area-text:after {
    content: "›";
    font-size: 18px;
    margin-left: 15px;
    position: relative;
    bottom: -1px;
}

.item-name {
    margin: 20px 0;
}

.item:hover .item-orange-area{
    bottom: 0;
    transition: 0.5s;
}

.item:hover .item-name{
    color: #f26522;
    transition: 0.5s;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #fff;
}


.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
